::placeholder{
    text-align: center;
}
.header {
    margin-top: 80px;
    align-items: center;

    display: inline-block;
    color: rgb(8, 8, 8);
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 3.2rem;

    text-shadow: 1px 1px 1px gold;
}
.troll {
    display:flex;
    justify-content: center;
}
footer {
    display: inline-block;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 10px;

    bottom: 0%;
    position: fixed;

}

.division{
    text-align: center;
    padding: 10px;
}

textarea{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: italic;

    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 75px;
}

.submit {
    margin-top: 7px;

    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

    width: 65px;
    height: 25px;

    background: #ad912e;
    color: #f5f0f0;
    border: 2px solid #191818;
    border-radius: 22px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.submit:hover {
    background: #14114e;
    color: #f5f0f0;
    border: 2px solid #191818;
    border-radius: 22px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.logo {
    margin-top: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}